* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-page-root {
    width: 100%;
    padding-top: 120px;
}

.product-page-wrapper {

}

.product-page-info-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 70px;
}

.product-page-images-container {
    display: flex;
    gap: 5px;
}

.main-image {
    width: 600px;
    height: 600px;
    position: relative;
}

.main-image img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.all-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all-images-image {
    filter: brightness(70%);
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-bottom: 5px;
}

.all-images-image:hover {

}

.product-page-info {
    max-width: 800px;
}

.product-page-info-title {
    font-size: 38px;
    margin-bottom: 10px;
}

.product-page-info-description {
    font-size: 20px;
}

.product-page-info-price {
    font-size: 30px;
    color: #0c5460;
}

.active {
    filter: brightness(100%);
}

.zoom {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 5px solid black;
    cursor: none
}

.basket-icon-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.basket-button{
    font-size: 17px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #9457f3;
    color: #FFFFFF;
}

.added{
    background-color: #edf2f7;
    color: rgba(148, 87, 243, 0.68);
}

.basket-icon{
    font-size: 20px;
    line-height: 0;
}
